
@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/LayoutYeni.cshtml";
}

<h1>Yazarin Bloglari</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Title</th>
        <th>Olusturma Tarihi</th>
        <th>Kategoriya</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Duzenle</th>
    </tr>
    @foreach (var item in Model)
	{
		 <tr>
             <th>@item.BlogID</th>
             <td>@item.BlogTitle</td>
             <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
             <td>@item.Category.CategoryName</td>
             <td>
             @if (item.BlogStatus == true)
             {
                 <p style="color:lightseagreen">Aktif</p>
             }
             else
             {
             <p style="color:indianred">Passiv</p>
             }
             </td>
             <td><a href ="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></td>
             <td><a href ="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Duzenle</a></td>
         </tr>
	}
</table>

<a href ="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Yarat</a>

